@model Book.Models.DonHang

@{
    ViewBag.Title = "Edit order";
    Layout = "~/Views/Shared/ViewAdmin.cshtml";
}

<div id="editEmployeeModal" class="modal-fade">
    @*appear when add class: sk-chase-background__appear*@
    <div class="around-loading">
        <div align="center" class="fond">
            <div class="contener_general">
                <div class="contener_mixte">
                    <div class="ballcolor ball_1">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_2">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_3">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_4">&nbsp;</div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/DonHangs/Edit" method="post" class="form-edit__book">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa thông tin đơn hàng</h4>
                    <div style="float:right; text-decoration: none">

                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã khách hàng: @Html.DisplayFor(model => model.MaDH)</label>
                        <input style="display:none" type="text" name="MaDH" class="form-control"
                               value="@Html.DisplayFor(model => model.MaDH)">
                        <input style="display:none" type="text" name="MaKH" class="form-control"
                               value="@Html.DisplayFor(model => model.MaKH)" >
                    </div>
                    <div class="form-group">
                        <label>Ngày đặt</label>
                        <input type="date" required class="form-control" name="NgayDat"
                               value="@Html.DisplayFor(model => model.NgayDat)">
                    </div>
                    <div class="form-group">
                        <label>Ngày nhận</label>
                        <input type="date" required class="form-control" name="NgayNhan"
                               value="DateTime.Parse(@Html.DisplayFor(model => model.NgayNhan))">
                    </div>
                    <div class="form-group">
                        <label>Thành tiền</label>
                        <input type="text" required class="form-control" name="TongTien"
                               value="@Html.DisplayFor(model => model.TongTien)">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="reset" class="btn btn-default btn-default__reset" data-dismiss="modal" value="Reset">
                    <input type="submit" class="btn btn-info btn-info__save" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var btnReset = document.querySelector('.btn-default__reset');
    var formEdit = document.querySelector('.form-edit__book');
    var spinner = document.querySelector('.around-loading');
    formEdit.onsubmit = (e) => {
        event.preventDefault();
        spinner.classList.add('sk-chase-background__appear')
        setTimeout(() => {
            formEdit.submit();
        }, 5000)
    }



</script>
