@model IEnumerable<Book.Models.NguoiQuanLy>

@{
    ViewBag.Title = "List customers";
    Layout = "~/Views/Shared/ViewAdmin.cshtml";
}

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <a href="/KhachHangs/UserDashBoard" style="color:white;text-decoration:none;">
                        <h2><b>Người quản lý</b></h2>
                    </a>
                </div>
                <div class="col-sm-6">
                    <a href="/NguoiQuanLies/Create" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Manager</span></a>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>

                    <th>Mã Người Quản Lý</th>
                    <th>Tên người quản lý</th>
                    <th>Mã khách hàng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaNQL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaKH)
                        <td>
                            <a href="/NguoiQuanLies/Edit?id=@Html.DisplayFor(modelItem => item.MaNQL)" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip">&#xE254;</i></a>
                            <a href="#deleteEmployeeModal" data-idBook="@Html.DisplayFor(modelItem => item.MaNQL)" class="delete delete__book" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>


<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-delete-book" action="/NguoiQuanLies/Delete" method="post">
                @Html.AntiForgeryToken()
                <input style="display:none" type="text" class="modal-content__book-id" name="id" value="" />

                <div class="modal-header">
                    <h4 class="modal-title">Xóa người quản lý</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc muốn xóa dòng này?</p>
                    <p class="text-warning"><small>Hành động không thể khôi phục lại.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-danger" value="Xóa">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var deleteArr = document.querySelectorAll('.delete__book i');
    var inputBook = document.querySelector('.modal-content__book-id');
    Array.from(deleteArr).forEach((deletebtn, index) => {
        deletebtn.onclick = function (e) {
            var idBook = e.target.parentElement;
            var id = idBook.dataset.idbook;
            inputBook.value = id;
        }
    });

</script>
