@model IEnumerable<Book.Models.NguoiQuanLy>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/ViewAdmin.cshtml";
}


    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KhachHang.HovaTen)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.HovaTen)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaNQL }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaNQL }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaNQL })
                </td>
            </tr>
        }

    </table>

