@model Book.Models.ChiTietHoaDon

@{
    ViewBag.Title = "List customers";
    Layout = "~/Views/Shared/ViewAdmin.cshtml";
}
<div id="editEmployeeModal" class="modal-fade">
    @*appear when add class: sk-chase-background__appear*@
    <div class="around-loading">
        <div align="center" class="fond">
            <div class="contener_general">
                <div class="contener_mixte">
                    <div class="ballcolor ball_1">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_2">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_3">&nbsp;</div>
                </div>
                <div class="contener_mixte">
                    <div class="ballcolor ball_4">&nbsp;</div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/ChiTietHoaDons/Edit" method="post" class="form-edit__book">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h4 class="modal-title">Chỉnh sửa thông tin hóa đơn</h4>
                    <div style="float:right; text-decoration: none">

                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã hóa đơn:   @Html.DisplayFor(model => model.MaHD)</label>
                        <input style="display:none" type="text" name="MaHD" class="form-control" value="@Html.DisplayFor(model => model.MaHD)" required>
                    </div>
                    <div class="form-group">
                        <label>Mã sách</label>
                        <input type="text" required class="form-control" name="MaSach" value="@Html.DisplayFor(model => model.MaSach)">
                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input type="text" required class="form-control" name="SoLuong" value="@Html.DisplayFor(model => model.SoLuong)">
                    </div>
                    <div class="form-group">
                        <label>Thành Tiền</label>
                        <input type="text" required class="form-control" name="ThanhTien" value="@Html.DisplayFor(model => model.ThanhTien)">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default btn-default__reset" data-dismiss="modal" value="Reset">
                    <input type="submit" class="btn btn-info btn-info__save" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    var btnReset = document.querySelector('.btn-default__reset');
    var formEdit = document.querySelector('.form-edit__book');
    var spinner = document.querySelector('.around-loading');
    formEdit.onsubmit = (e) => {
        event.preventDefault();
        spinner.classList.add('sk-chase-background__appear')
        setTimeout(() => {
            formEdit.submit();
        }, 5000)
    }


    btnReset.onclick = function (e) {
        e.preventDefault();

        var id = document.querySelector('input[name="MaHD"]').value;
        var serviceURL = `/ChiTietHoaDons/Edit?id=${id}`;
        var model = {

        };
        $.ajax({
            type: "GET",
            url: "",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: 'html',
            success: function (data) {
                $('#editEmployeeModal').load(serviceURL);
            },
            error: function (data, errorThrown) {
                alert(errorThrown);
            }
        });

    }
</script>
