@model IEnumerable<Book.Models.view_thongtinKH>

@{
    ViewBag.Title = "List customers";
    Layout = "~/Views/Shared/ViewAdmin.cshtml";
}


<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Xem đơn hàng</h2>
                </div>

            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
                <tr>

                    <th>Mã khách hàng</th>
                    <th>Họ và tên</th>
                    <th>Tên sách</th>
                    <th>Ngày đặt</th>
                    <th>Ngày nhận</th>
                    <th>Tổng tiền</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaKH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HovaTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenSach)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongTien)
                    </td>



                </tr>
                }

            </tbody>
        </table>

    </div>
</div>

