@model IEnumerable<Book.Models.NhaXuatBan>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/ViewAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNXB)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNXB)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaNXB }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaNXB }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaNXB })
                </td>
            </tr>
        }

    </table>
</body>
</html>
